section {
    margin-bottom: 1rem;
}

.section-left-animation {
    position: relative;
    opacity: 0;
    left: -100px;
    animation: slide-in-left 1s forwards;
}

.section-right-animation {
    position: relative;
    opacity: 0;
    right: -100px;
    animation: slide-in-right 1s forwards;
}
